<%= form_tag("/login") do %>
 <p>教師ID</p>
  <!-- name属性を追加してください -->
  <input name ="no">
  <p>パスワード</p>
  <!-- name属性を追加してください -->
  <input type="password" name ="password">
  <input type="submit" value="ログイン">
  <!-- form_tag用のendを追加してください -->
 <% end %>